.DS_Store
dist/
release/
backup/
db/
sui
web/html
main
tmp
.sync*

# 允许发布文件夹和打包文件
!bin/
!bin/*.tar.gz

# local env files
.env.local
.env.*.local

# Log files
*.log*
.cache

# Windows build artifacts
*.exe
*.zip
s-ui-windows/
sui-*.exe
sui-*.zip
windows/sui-*.exe

# Editor directories and files
.idea
.vscode
